<footer class="footer">
  <class class="container">
    <span class="text-muted">Copyright 2018 Long Nghiem</span>
  </class>
</footer>



<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>